@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@300;400;900&display=swap');

:root{
  --color-grandis: #ffd68b;
  --color-white-rock: #e5e3cb;
  --color-faded-jade: #428b8b;
  --color-salmon: #fd926a;
  --color-thunderbird: #cd391b;
  --color-green: #52ac52;
  --color-yellow: #cfad12;
  --color-ferra-light: #8d7269;
  --color-ferra: #5c4943;
  --color-white: #fff;
  --color-gray: #e2e2e2;
  --color-gray-light: #f0f0f0;
  --color-black: #000;
  --font-family-roboto: 'Roboto', sans-serif;
  --font-family-archivo-black: 'Archivo Black', sans-serif;
  --font-size-xxs: 0.75rem;
  --font-size-xs: 1rem;
  --font-size-sm: 1.1rem;
  --font-size-md: 1.3rem;
  --font-size-ns: 1.5rem;
  --font-size-normal: 1.8rem;
  --font-size-nl: 2rem;
  --font-size-lg: 2.5rem;
  --font-size-xl: 3rem;
  --slide-transform: 0;
  --slider-size: 500px;
  --transition: transform 1s;
  --footer-height: 150px;
  --lateral-margin: 24px;
  --slider-element-heigth: 300px;
}